html, body{
 /*overflow: hidden;*/
 background: #000;
 padding: 0px;
 margin: 0px;
}

#canvas{
 cursor: crosshair;
 z-index: 2;
 position: fixed;
 top: 0; left: 0;
}

#overlay{
 background: radial-gradient(ellipse at center, rgba(0,0,0,.0) 10%, rgba(0,0,0,.8) 80%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
 z-index: 3;
 position: fixed;
 top:0;left:0;
 height: 100%;
 width: 100%;
}

#bg_glow{
 z-index: 1;
 position: absolute;
 top:0;left:0;
 height: 100%;
 width: 100%;
}

#info{
 z-index: 4;
 position: absolute;
 color: #fff;
 top: 0px;
 left: 0px;
 background: rgba(60,60,60,.6);
 padding: 5px;
}
#overlay:hover{
 cursor: pointer;
}

/*#fps{
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 5;
}*/


  .fon {
/*  position: fixed;
		top: 0px;
		right: 0px;*/
		z-index: 20;
		width: 100px;
		/*overflow: hidden;*/
 }






.wrepaper {
 position: relative;
  top:0;
  left:0;
  z-index: 21;
 font-size: 1.1em;
 padding: 1em;
 display: flex;
 flex-direction: column;
color: #fff;
 min-height: 80vh;
}

main {
 display: flex;
 flex-direction: column;
}

article {
 /*background-color: #546e7a;*/
 flex: 2 2 50%;
}

nav {
  flex: 0 1 30%;
  height: 300px;
 /* background-color: #455a64;*/
}
aside {
 flex: 0 1 20%;
 height: 100%;
 /* background-color: #455a64;*/
}
nav {
 order: -1;
}

header{
 flex: 0 0 5em;
 /* background-color: #37474f;*/
 min-height: 50px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 5px 10px;

}

.logo{
  width: 100px;
  height: 70px;

}

.p{
 width: 350px;
 height: 30px;
 border-radius: 5px 0px 0px 5px;
}
.b{
 width: 70px;
 height: 30px;
 border-radius: 0px 5px 5px 0px;
}


.switchers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px; }

.switchers .swchItemA, .switchers a:hover {
    background-color: #DADADA;
    color: #242424;
    text-decoration: none;

}    
    .switchers a {
    background-color: #242424;
    color: #DADADA;
}

.switchers a, .switchers .swchItemA {
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    list-style: none;
    padding: 4px 10px 5px 10px;
    margin: 0px 4px 10px 0px;
}


footer {
 flex: 0 0 5em;
 /* background-color: #37474f;*/
 min-height: 50px;
 display: flex;
flex-wrap: wrap;
flex-direction: row;
 justify-content: space-between;
 padding: 5px 10px;
}

.info-box-f {
  flex: 0 0 75%;
}





article img{
 width: 200px;
 height: 300px;
 margin: 0 auto; 
} 


.post {
 /*flex: 0 0 10%;*/
/* width: 100%;*/
 margin: 5px;
 display: flex;
 flex-wrap: wrap;
}
.post-info {
  width: 60%;
  padding: 5px 10px;
  
}

.post-info h2 {
font-size: 20px;
display:block;
margin: 0px 0px;
}



@media (min-width: 600px) {

 body{
  min-height: 400vh;
 }
 main {
  flex-direction: row;

  /* min-height: 100%;*/
  flex: 1 1 auto;
 }





}  

@media (max-width: 600px) {

html,body {
  min-width: 550px;
}

 .wrepaper{
  font-size: 30px;
 }

            
 header{
 
min-height: 400px;
min-width: 500px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}

.p{
 width: 350px;
 height: 30px;
 border-radius: 5px 0px 0px 5px;
}
.b{
 width: 70px;
 height: 30px;
 border-radius: 0px 5px 5px 0px;
}

article img{
 width: 500px;
 height: 750px;
 margin: 0 auto; 
} 
.post-info {
width: 500px;
 margin: 5px;

}

.post-info button{
  width: 500px;
  font-size: 30px;
  margin: 5px 0px;
  padding: 5px 10px;
  
}

.post-info h2{
  width: 500px;
  font-size: 30px;
  padding: 5px 10px;
  display: inline;
  
}

.post-info p{
  width: 500px;
  font-size: 30px;
  padding: 5px 10px;
  
}



footer {
min-height: 700px;
min-width: 500px;
}



/*.copir-box {
width: 500px;
}*/

.copir-box p{
margin: 0px 200px;

}

.info-box-f p{
  width: 500px;
margin: 0px 5px;

}



.contacts p{
margin: 0px 90px;

}


 .fon {
  /*    display: none;*/
 }    

}


@media (min-width: 600px) and (max-width: 1100px) {


  header{
 
min-height: 250px;
min-width: 500px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;


}

.p{
 width: 450px;
 height: 60px;
 border-radius: 5px 0px 0px 5px;
}
.b{
 width: 100px;
 height: 60px;
 border-radius: 0px 5px 5px 0px;
}

nav {
    flex: 0 1 30%;
    height: 300px;
  
}




main {
    flex-direction: column;
    min-height: 100%;
    flex: 1 1 auto;
}


article img{
 width: 800px;
 height: 1100px;
 margin: 0 auto; 
} 
.post-info {
width: 800px;
 margin: 5px;

}

.post-info button{
  width: 800px;
  font-size: 30px;
  margin: 5px 0px;
  padding: 5px 10px;
  
}

.post-info h2{
  width: 800px;
  font-size: 40px;
  padding: 5px 10px;
  display: inline;
  
}

.post-info p{
  width: 800px;
  font-size: 35px;
  padding: 5px 10px;
  
}


.center {
    min-height: 0%;
}

}





@media (min-width: 1100px) and (max-width: 1200px) {


  header{
 
min-height: 250px;
min-width: 500px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}

.p{
 width: 350px;
 height: 30px;
 border-radius: 5px 0px 0px 5px;
}
.b{
 width: 70px;
 height: 30px;
 border-radius: 0px 5px 5px 0px;
}

nav {
    flex: 0 1 30%;
    height: 300px;
  
}




main {
    flex-direction: column;
    min-height: 100%;
    flex: 1 1 auto;
}


article img{
 width: 500px;
 height: 750px;
 margin: 0 auto; 
} 
.post-info {
width: 500px;
 margin: 5px;

}

.post-info button{
  width: 500px;
  font-size: 30px;
  margin: 5px 0px;
  padding: 5px 10px;
  
}

.post-info h2{
  width: 500px;
  font-size: 30px;
  padding: 5px 10px;
  display: inline;
  
}

.post-info p{
  width: 500px;
  font-size: 30px;
  padding: 5px 10px;
  
}


.center {
    min-height: 0%;
}

}

